body {
  font-family: sans-serif;
}

.container {
  width: 500px;
  margin: 0 auto;
}

/* .container>form {
  margin-bottom: 20px;
} */

.container>label {
  display: block;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  background-color: #000;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.required {
  color: red;
}